@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: black;
    --font1: 'Passion One', cursive;
    --font2: 'Sriracha', cursive;
    --bg01: url("./imagens/background001.jpg");
    --bg02: url("./imagens/background002.jpg");
}

body {
    font-family: sans-serif;
}

header {
    color: white;
    background-color: var(--primary);
    padding: 3.125rem;/*50px*/
}
header > * {
    text-align: center;
}

.title {
    font: small-caps 10vw var(--font1);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--font2);
}

article.bg-img {
    background: rgb(66, 56, 56) center right / cover no-repeat fixed;
}
article.bg-img01 {
    background-image: var(--bg01);
}
article.bg-img02 {
    background-image: var(--bg02);
}

section {
    background-color: aliceblue;
    padding: 5px 20px;
}
section.bg-color {
    background-color: white;
}
section.no-bg-color {
    background-color: transparent;
}
section.no-bg-color > p.stanza {
    color: white;
    background-color: rgba(0, 0, 0, 0.486);
    backdrop-filter: blur(4px);
    animation: stanza-background 15s ease infinite alternate both;
}
p.stanza {
    display: inline-block;
    font-size: 3.5vw;
    line-height: 2em;
    padding: 3px 10px;
    margin: 15px 20vw/*new p in new line*/ 15px 0;
}

footer {
    color: white;
    text-align: center;
    background-color: var(--primary);
    padding: 10px;
}
@keyframes stanza-background {
    0% { background-color: rgba(0, 0, 0, 0.555)}
    50% { background-color: rgba(13, 21, 34, 0.555)}
    100% {background-color: rgba(22, 36, 11, 0.555)}
}